<?xml version="1.0"?>  
<robot name="arm_car_robot"        
        xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"  
        xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"  
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"  
        xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"  
        xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"  
        xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"  
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"  
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"  
        xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"  
        xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"  
        xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"  
        xmlns:xacro="http://ros.org/wiki/xacro">  
     
    <xacro:include filename="$(find arm_car_simulation)/urdf/mobile_robot_body.urdf.xacro"/>  
    <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

    <xacro:include filename="$(find arm_car_simulation)/urdf/ur10.urdf.xacro"/>   
    <xacro:mobile_robot_body/>  
    <xacro:mobile_robot_sim/>  
    <xacro:ur10_robot prefix="" joint_limited="true"/>
  <joint name="world_joint" type="fixed">
     <parent link="head" />
     <child link = "ur_base_link" />
     <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
      
</robot>
